
.jumbotron {
    
    color: white;
    background-position: center;
    background-size: 100%;
    font-weight: bold;
    background-size: 50%;
    background-image: url("../images/file.jpg");
 }

 .container {
    background-position: center;
    border:10px;

 }

 .form-control {
    padding: 20px;
    
 }

.pretty-background {
   background:
     linear-gradient(red, transparent),
     linear-gradient(to top left, lime, transparent),
     linear-gradient(to top right, blue, transparent);
   background-blend-mode: screen;
   height: 100vh;

}

.happy {
   color: white;

}

.options{
   color: black;
   
}