* {
    color: white;
}

.jumbotron {
    
   color: white;
   background-position: center;
   background-size: 100%;
   font-weight: bold;
   background-size: 50%;
   background-image: url("../images/file.jpg");
}
.pretty-background {
    background:
      linear-gradient(gray, transparent),
      linear-gradient(to top right, black, transparent);
    background-blend-mode: screen;
    height: 100vh;
  
  }

/* .lead {
  color: rgb(76, 243, 76);
} */
.container {
   background-position: center;
   border:10px;

}

.form-control {
   padding: 20px;
   
}


.happy {
  color: white;

}

.options{
  color: black;
  
}@media screen and (max-width: 980px) {
  body, header, footer {
      width: 100%;
  }
  section {
      width: 80%;
      margin-left: 10%;
  }
  h1 {
      margin-left: 10%;
  }
  h2 {
      width: 75%;
  }
  input {
      width: 80%;
  }
  textarea {
      width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body, header, footer {
      width: 100%;
  }
  section {
      width: 80%;
      margin-left: 10%;
  }
  h1 {
      margin-left: 10%;
  }
  h2 {
      width: 75%;
  }
  input {
      width: 80%;
  }
  textarea {
      width: 80%;
  }
  
}